*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}
.id{
    height: 450px;
    width: 300px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
}
.logo{
    height: 50px;
    width: 250px;
    object-fit: cover;
    margin: 10px 0px 0px 15px;
}
.profile{
height: 130px;
width: 150px;
object-fit: contain;
margin-top: 5px;
margin-left: 75px;
}
.name{
    font-size: 20px;
    margin-left: 88px;
}
.position{
   margin-left: 110px;
}
.details{
    margin-left: 50px;
    margin-top: 10px;
    font-size: 14px;
}
.barcode{
    margin-top: 20px;
    width: 250px;
    height: auto;
    object-fit: cover;
}
.bar{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}